:root{
    /* Tipografias */
    --font-dm-sans: "DM Sans", sans-serif;
    /* Cores */
    --dark-gray: #121212;
    --dark-gray-02: #242424;
    --clear-gray: #b3b3b3;
    --clear-gray-02: #878787;
    --clear-gray-03: #a7a7a7;
    --black: #000;
    --white: #fff;
    --color-purple: #ae2896;
    --color-blue: #509bf5;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    
}